@import "tailwindcss";

:root {
  --background: #f0ede6;
  --foreground: #1a1a1a;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-kosugi-maru), sans-serif;
}

input,
textarea,
select {
  font-size: max(16px, 1rem);
}

html,
body {
  overflow-x: hidden;
}
